<!DOCTYPE html>
<html>
    <head>
        <title>Sorry! Forum Already Exists.</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Silkscreen&family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='exists.css') }}">
    </head>
    <body>
        <h1>Forum Already Exists.</h1>
        <br>
        <img src="https://blob.gifcities.org/gifcities/5GX3UJZM5YQR5HK3WRRCHTR6QSHMQ326.gif">
        <br>
        <a href="/home/">Back</a>
    </body>
</html>