<!DOCTYPE html>
<html>
    <head>
        <title>Monochat Rules</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='rules.css') }}">
    </head>
    <body>
        <h1><u>Monochat Rules</u></h1>
        <br>
        <h2>
            <li><b>1. No Illegal Links:</b> Do not share links to illegal content such as phishing, malware, pirated material, or anything that violates the law. <br><br>
            <b>2. Freedom of Speech:</b> You have the freedom to speak your mind, but don’t promote illegal activity or harm. <br><br>
            <b>3. No Doxxing:</b> Never share anyone’s personal information (including yours) without consent. <br><br>
            <b>4. Custom Rooms:</b> Create any room, but keep content within legal boundaries. Mods may lock or delete rooms if necessary. <br><br>
            <b>5. No Spam:</b> Avoid flooding the chat with repeated or irrelevant messages/links. <br><br>
            <b>6. Minimal Moderation:</b> Moderators only intervene for illegal content or severe disruptions. <br><br>
            <b>7. Stay Secure:</b> Respect others’ privacy and security. Report suspicious links. <br><br>
        </h2>
        <a id="back" href="/home">Okay.</a>
    </body>
</html>
